@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('navigation.css');
@import url('content-text.css');

* {
    box-sizing: unset;
}

.wrapper, html, body {
    height: 100%;
    font-style: italic;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    font-style: italic;

}

.wrapper > * {
    background-color: rgba(179, 255, 255, 0);
    border-radius: 3px;
    padding: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head {
    grid-area: header;
    text-align: center;
    padding: 1% 0;
    justify-items: center;
    align-items: center;
    border: 0px solid rgba(119, 107, 118, 0.25);
}

.content {
    grid-area: content;
    position: relative;
    border: 0px solid rgba(119, 107, 118, 0.25);
!important;

}

.firstLine {
    font-size: 22px;
}


.main-nav {
    grid-area: nav;
    position: relative;

}

.side {
    grid-area: sidebar;
    border: 2px solid rgba(119, 107, 118, 0.25);
    background: rgba(240, 221, 239, 0.19);

}

.leftside {
    grid-area: leftside;

}

.ad {
    grid-area: ad;
    border: 0px solid rgba(240, 221, 239, 0.19);

}

.main-footer {
    grid-area: footer;
    text-align: center;
    background-color: rgba(218, 206, 217, 0.25);

}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header" "content" "sidebar" "ad" "footer";
}


.fa {
    padding: 10px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

@media (min-width: 500px) {
    .wrapper {

        grid-template-areas: "header  header  header" "sidebar content content " "ad      footer  footer";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {

        grid-template-areas: "header header  header" "leftside    content sidebar" "leftside    content ad" "leftside footer  footer"
    }

}
